* {
  border: none;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

/*-----module groups----*/
.modules-right,
.modules-center,
.modules-left {
  background-color: rgba(0, 0, 0, 0.7);
}

.modules-right {
  margin: 5px 10px 0 0;
}

.modules-center {
  margin: 5px 0 0 0;
  padding: 0 5px;
}

.modules-left {
  margin: 5px 0 0 10px;
}

/*-----modules indv----*/
#workspaces button {
  padding: 2px 14px;
  background-color: transparent;
}

#workspaces button:hover {
  box-shadow: inherit;
  background-color: rgba(200, 200, 200, 0.9);
}

#workspaces button.active {
  background-color: rgba(128, 128, 128, 0.5);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#custom-player,
#idle_inhibitor {
  padding: 0 10px;
}

/*-----Indicators----*/
#idle_inhibitor.activated {
  color: #2dcc36;
}

#pulseaudio.muted {
  color: #cc3436;
}

#battery.charging {
  color: #2dcc36;
}

#battery.warning:not(.charging) {
  color: #e6e600;
}

#battery.critical:not(.charging) {
  color: #cc3436;
}

#temperature.critical {
  color: #cc3436;
}
